{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: demo-app
  labels:
    app: dem-app
  # Add annotations specific to Traefik if needed (often not necessary on K3s default)
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    - host: {{ .Values.ingress.host | quote }}
      http:
        paths:
          - path: {{ .Values.ingress.path }}
            pathType: {{ .Values.ingress.pathType }}
            backend:
              service:
                name: demo-app
                port:
                  number: {{ .Values.service.port }}
{{- end }}