{% set server = pillar.get('k3s:config:server') %}
{% set token = salt['pillar.get']('k3s:config:token') %}
{% set cluster_init = salt['pillar.get']('k3s:config:cluster-init', False) %}
{% set tls_san_list = salt['pillar.get']('k3s:config:tls-san', []) %}
{% if server is not none  %}
server: {{ server }}
{% endif %}
{% if token is not none %}
token: {{ token }}
{% endif %}
{% if cluster_init %}
cluster-init: {{ cluster_init }}
{% endif %}
{% if tls_san_list is defined and tls_san_list|length > 0 %}
tls-san:
{% for san in tls_san_list %}
  - {{ san }}
{% endfor %}
{% endif %}